@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#warning-message { display: none; }

@media only screen and (max-width: 550px) {
  .wrapper {
    display: none;
  }
  .warning-message {
    display: block;
  }
}

@media only screen and (min-width: 551px) {
  .warning-message {
    display: none;
  }
}

@media not all and (max-width: 550px) {
  .wrapper {
    display: block;
  }
}

/* Add the modified code below */
@layer utilities {
  .wrapper {
    display: none;
  }
}
